@font-face {
  font-family: "EightBitDragon";
  src: url("/EightBitDragon-anqx.ttf") format("truetype");
}

:root {
  --primary-color: #201e20;
  --secondary-color: #ddc3a5;
  --secondary-darker: #e0a96d;
  --border-color-dark: black;
  --border-color-light: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  font-family: "EightBitDragon", sans-serif;
}

.container {
  width: 100%;
  max-width: 960px;
  padding: 1rem;
  border: 2px solid var(--primary-color);
  border-color: var(--primary-color);
}

#top-container h1 {
  margin-bottom: 15px;
}
#top-container {
  background-color: var(--secondary-darker);
  text-align: center;
}

#turn-info-container {
  display: flex;
  justify-content: center;
  gap: 16rem;
}

#middle-container {
  background-color: var(--secondary-color);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Vertically center the content */
  text-align: center; /* Horizontally center the text */
}

#bottom-container {
  background-color: var(--secondary-darker);
  display: flex;
  align-items: center;
  justify-content: center;
}

#health-container {
  display: flex;
  justify-content: space-around;
}

#button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button {
  background-color: var(--secondary-color);
  padding: 2%;
  border: 1px solid var(--border-color-dark);
  border-color: var(--border-color-dark);
  border-radius: 10px;
  font-family: "EightBitDragon", sans-serif;
}

button:hover {
  background-color: var(--secondary-darker);
  outline: 0;
}

button:active {
  transform: scale(0.98);
}

.hide {
  display: none;
}

.message {
  word-spacing: 10px;
  line-height: 2.5;
  font-size: large;
}
